<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Buildings</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Buildings.styles.css" asp-append-version="true"/>
</head>
<body>

<div class="row fixed-top">
    <div class="col-sm-12" id="menu">
        <a asp-controller="Home" asp-action="Index">HOME</a>
    </div>
</div>

@RenderBody()

<div class="footer">
    <h4>Buildings</h4>
    <h5>Copyright 2023</h5>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>